{@ base.html @}
[begin title] About[end]
[begin subtitle]About&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp[end]

[begin body]
<div class="picto wide">&#8505;</div>
<h2>About us.</h2>

<h3>Team</h3>

<table>
	<tr>
		<td class="picto">&#59238;</td>
		<td class="justify">
			<h4>Pierre PAGNOUX</h4>
			<p>Pierre is the project leader StarDSP. He is responsible for the achievement of its processing algorithms and the design of the program. His experience in the field of music has helped to launch the project.
			</p>
		</td>
		<td class="picto">&#59238;</td>
		<td class="justify">
			<h4>Alexandra PIZZINI</h4>
			<p>Alexandra has worked mainly in the design of the GUI of StarDSP to make the software simple and pleasant to use.
			</p>
		</td>
		<td class="picto">&#59238;</td>
		<td class="justify">
			<h4>Pierre SURPLY</h4>
			<p>Pierre realized the basics of the software. He then attended exclusively to the development of "surface" thanks to its expertise in the field of micro-controllers and its own programming language : <em><a href="http://mara.psurply.com">Mara</a></em>.
			</p>
		</td>
		<td class="picto">&#59238;</td>
		<td class="justify">
			<h4>Vincent MOLINIÉ</h4>
			<p>Vincent worked on sound processing algorithms diverse and varied.
			</p>
		</td>
	</tr>
	<tr>
		<td class="picto">&#59254;</td>
		<td class="justify">
			<h4>Projects :</h4>
			<p><a href="ageofdefense.epimeros.org">Age of Defense</a></p>
		</td>
		<td class="picto"></td>
		<td> </td>
		<td class="picto">&#59254;</td>
		<td class="justify">
			<h4>Projects :</h4>
			<p><a href="mara.psurply.com">Mara</a></p>
		</td>
	</tr>
</table>
[end]
