{@ base.html @}
[begin title] Documentation[end]
[begin subtitle]Doc&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp[end]

[begin body]
<img id="banner" src="../design/res/settings.png" />
<h2>Take control.</h2>

<h3>CLI</h3>
<pre><code>
	./stardsp --help
Usage : ./stardsp OPTIONS
Input : PulseAudio or AIFF
	-core				Run Core only
	-file &lt;path&gt;			AIFF file input
	-surface &lt;device&gt;		TTY
	-ssurface &lt;data&gt;		test Control-Surface
	-eq &lt;lg,mg,hg&gt;			Use Equalizer
	-amp &lt;drive,noise&gt;		Use Amplifier
	-rev				Use Reverberation
	-echo &lt;delay,decay&gt;		Use Echo
	-help				Display this list of options
	--help				Display this list of options
</code></pre>
[end]
