{@ base.html @}
[begin title] Download[end]
[begin subtitle]Download&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp[end]

[begin body]
<p class="emph">Full release will be available soon. Release date scheduled for: May 28, 2013.</p>
<div class="picto wide"><a href="#">&#59224;</a></div>
<h2>Download it. It's free.</h2>
<div class="center">
<table>
	<tr>
		<td class="picto smallwide"><a href="https://bitbucket.org">&#128254;</a></td>
		<td class="picto smallwide"><a href="#">&#59256;</a></td>
		<td class="picto smallwide"><a href="#">&#128214;</a></td>
	</tr>
	<tr>
		<td>
			<h4>Source Code</h4>
			<p>Get the latest release from source code. (Available soon)</p>
		</td>
		<td>
			<h4>Installation Tips</h4>
			<p>Follow the installation tutorial.</p>
		</td>
		<td>
			<h4>Reports</h4>
			<p>Get the latest release of the dev report.</p>
		</td>
	</tr>
</table>
</div>
[end]
