{@ base.html @}
[begin title][end]
[begin subtitle]1.5 Glass&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp[end]

[begin body]
<p class="emph">Release date: May 28, 2013
<iframe src="http://player.vimeo.com/video/65286892?title=0&amp;byline=0&amp;portrait=0&amp;color=3c4b90" width="800" height="450" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>

<img id="banner" src="design/res/glass.png" />

<h2>Real-time sound processing software.</br>Designed for musicians.</h2>
<table>
	<tr>
		<td class="picto">&#9889</td>
		<td>
			<h4>Powerful</h4>
			<p>StarDSP is powered by real-time algorithms. What you play is what you hear.</p>
		</td>
		<td class="picto">&#9834</td>
		<td>
			<h4>Creativity</h4>
			<p>Boost your creativity through multiple effects.</p>
		</td>
		<td class="picto">&#9654</td>
		<td>
			<h4>Make tests</h4>
			<p>Experiment easily by reading audio files before performing.</p>
		</td>
	</tr>
	<tr>
		<td class="picto">&#128327</td>
		<td>
			<h4>Free</h4>
			<p>StarDSP is totally free of use.</p>
		</td>
		<td class="picto">&#128266</td>
		<td>
			<h4>Turn it loud</h4>
			<p>Turn it louder through high quality audio processing.</p>
		</td>
		<td class="picto">&#128253</td>
		<td>
			<h4>Surface</h4>
			<p>Rapidity and precision are both possible through a clean GUI and a control surface.</p>
		</td>
	</tr>
</table>
[end]
