{@ base.html @}
[begin title] Overview[end]
[begin subtitle]Overview&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp[end]

[begin body]
<img id="banner" src="../design/res/fender.png" />
<h2>The creation at hand. Be the next.</h2>

<h3>Powerful user experience.</h3>

<div class="content">
<p>With the new GUI, StarDSP is now much easier to use. Choose to insert various effects. Arrange them and configure them as you see fit. Keep the control with <em>surface</em>. This give more reactivity when you need it : no mouse, no keyboard. Find more details about the <em>GUI</em> and <em>surface</em> in <a href="?doc">documentation</a>.</p>
</div>


<h3>Multiple effects of sound processing.</h3>
<div class="content">
<p>Find various effects such as an amplifier for electric guitar or the inevitable equalizer. Reverb, delay and stereo effects are part of the of effects. Easily create user presets to save the sound ideal.
</p>
</div>
[end]
