@import url("fonts/SourceSansPro/SourceSansPro.css");
@import url("fonts/SourceCodePro/stylesheet.css");
@import url("fonts/Entypo/entypo.css");

/*
	## GENERAL ##
*/

html
{
	background-image: 	url(res/texture.png);
	background-repeat: 	repeat;
}

body
{
	width: 				800px;
	margin: 			0 auto;
	font-family: 		SourceSansProRegular;
	color: 				white;
}

a
{
	text-decoration: 	none;
	color: 				inherit;
	-webkit-transition:	color 0.8s;
}

a:hover
{
	color: 				#3c4b90;
	-webkit-transition:	color 0.8s;
}

h2
{
	text-align: 		center;
	font-variant: 		small-caps;
	padding: 			20px;
}

.picto
{
	font-family: 		entypo;
	font-size: 			50px;
	width: 				50px;
	text-align: 		center;
	padding-top: 		8px;
}

.wide
{
	font-size: 			150px;
	margin-left: 		auto;
	margin-right: 		auto;
}

.smallwide
{
	font-size: 			70px;
}

table
{
	width: 				770px;
	display: 			block;
	margin-left:		auto;
	margin-right: 		auto;
}

tr
{
	height: 			125px;
}

td
{
	width: 				200px;
	vertical-align: 	top;
}

h3
{
	font-family: 		SourceSansProRegular;
	font-size: 			18px;
	margin-left: 		50px;
	margin-top: 		20px;
	margin-bottom: 		20px;
}

h4
{
	font-family: 		SourceSansProLight;
	font-size: 			18px;
}

td p
{
	color: 				#AAA;
	font-family: 		SourceSansProExtraLight;
	font-size: 			14px;
}

/* 
	## HEADER ##
*/

header
{
	margin-top: 		10px;
	display: 			inline-block;
}

h1, nav, ul, li, #version
{
	display: 			inherit;
}

nav
{
	display: inline-block;
	width: 400px;
	margin-left: 90px;
}

nav a
{
	color: 				#777;
	text-decoration: 	none;
	font-family: 		SourceSansProLight
}

nav li
{
	padding-right: 		10px;
}

#download
{
	padding: 			4px 4px 3px 4px;
	border-radius: 		2px;
	color: 				#646d95;
	background-color: 	#111;
	box-shadow: 		0px 0px 6px 2px #494f6c;
	-webkit-transition: box-shadow 0.8s;
}

#download:hover
{
	color: 				#3c4b90;
	box-shadow: 		0px 0px 2px 2px #3c4b90;
	-webkit-transition:	box-shadow 0.8s;
}

#version
{
	color: 				#555;
	font-family: 		SourceSansProExtraLight;
}

/*
	## FOOTER ##
*/

footer
{
	font-family: 		SourceSansProExtraLight;
	font-size: 			12px;
	text-align: 		center;
	color: 				#333;
}

/*
	## CONTENT ##
*/

#banner
{
	border-radius: 		8px;
	display: 			block;
	width: 				700px;
	height: 			437px;
	margin-left: 		auto;
	margin-right: 		auto;
	margin-top: 		20px;
}

.content
{
	width: 				600px;
	margin-left:		auto;
	margin-right: 		auto;
	margin-bottom: 		40px;
	font-family: 		SourceSansProLight;
}

.center
{
	margin-left: 		110px;
	text-align: 		center;
}

.justify
{
	text-align: 		justify;
}

code
{
	font-family: SourceCodeProLight;
	font-size: 12px;
}

pre
{
	border-width: 1px;
	border-color: #FFF;
	border-style: dashed;
	padding: 10px;
}

iframe
{
	display: 			block;
	width: 				800px;
	height: 			450px;
	margin-left: 		auto;
	margin-right: 		auto;
	margin-top: 		10px;
}

.emph
{
	font-size: 20px;
	font-family: SourceSansProExtraLight;
	text-align: center;
	color: #e0254b;
}

.mini
{
	font-family: SourceSansProExtraLight;
	color: #555;
	font-size: 12px;
	text-align: right;
}

img
{
	border-radius: 		15px;
	display: 			block;
	width: 				600px;
	margin-left: 		auto;
	margin-right: 		auto;
}